<nav class="navbar" id="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">
            <img src="/assets/images/logo.jpg" alt="Logo" class="navbar-logo-img">
        </a>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="navbar-menu">
            <ul class="navbar-menu-list">
                <li class="navbar-item">
                    <a href="/" class="navbar-links">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="/blog" class="navbar-links">Blog</a>
                </li>
                <li class="navbar-item">
                    <a href="/academy" class="navbar-links">Academy</a>
                </li>
                <li class="navbar-item">
                    <a href="/contact.html" class="navbar-links">Contact</a>
                </li>
                <li class="navbar-item">
                    <a class="bmc-button-nav" href="https://www.buymeacoffee.com/dystortion" target="_blank">
                        <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee">
                        <span>Buy me a coffee</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
