<div class="navbar" id="navbar">
    <a href="/" class="active">Home</a>
    <div class="navbar-right">
        <a href="/blog">Blog</a>
        <a href="/academy">Academy</a>
        <a href="/about">About</a>
        <a class="bmc-button-nav" href="https://www.buymeacoffee.com/dystortion" target="_blank">
            <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee">
        </a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">
        &#9776;
    </a>
</div>
