<div class="navbar" id="navbar">
    <a href="/" class="active">Home</a>
    <div class="navbar-right">
        <a href="/blog">Blog</a>
        <a href="/academy">Academy</a>
        <a href="/about">About</a>
        <a class="bmc-button" href="https://www.buymeacoffee.com/dystortion" target="_blank">
            <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee">
            <span>Buy me a coffee</span>
        </a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="toggleNavbar()">
        &#9776;
    </a>
</div>
<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="dystortion" data-color="#000000" data-emoji="☕"  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#ffffff" data-font-color="#ffffff" data-coffee-color="#FFDD00"></script>
