/* Complete Button Styles */
#complete-module1 {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#complete-module1:hover {
  background-color: #0056b3;
}

/* Academy Page Styles */
.page-container {
  text-align: center;
  padding: 20px;
}

.page-title {
  font-size: 2.5em;
  margin-bottom: 20px;
  position: relative;
}

.page-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #007bff;
  margin: 10px auto 0;
  border-radius: 2px;
}

.academy-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.academy-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  align-items: center; /* Center align the content */
}

.academy-card.locked {
  filter: grayscale(100%);
  pointer-events: none;
}

.academy-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.academy-card img {
  width: 100%; /* Ensure the image fits the width of the card */
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.academy-card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center; /* Center align the text */
}

.academy-card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #007bff;
}

.academy-card-excerpt {
  font-size: 1em;
  color: #333;
  margin-bottom: 15px;
  flex-grow: 1;
}
