/* Navbar Styles */
.navbar {
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
}

.navbar a:hover {
  color: #4CAF50;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar a.active {
  color: #4CAF50;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar .icon {
  display: none;
  font-size: 24px;
  color: #f2f2f2;
  cursor: pointer;
  padding: 14px 20px;
}

.bmc-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bmc-button img {
  margin-right: 10px;
  height: 30px;
}

.bmc-button:hover {
  background-color: #444444;
  color: #ffdd00;
}

.bmc-button-nav img,
.bmc-button-footer img {
  height: 30px;
}

@media screen and (max-width: 768px) {
  .navbar-center {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: center;
  }
  .navbar .icon {
      display: block;
  }
  .navbar.responsive .navbar-center {
      display: flex;
  }
  .navbar.responsive a {
      display: block;
      text-align: center;
      padding: 10px;
      width: 100%;
  }
}

@media screen and (min-width: 769px) {
  .navbar {
      justify-content: center;
  }
  .navbar-center {
      justify-content: center;
  }
}
