/* Base Navbar Styles */
.navbar {
  background-color: rgba(51, 51, 51, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  transition: background-color 0.3s ease;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.navbar-logo-img {
  height: 40px;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 25px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}

/* Active Hamburger Menu */
.navbar-toggle.is-active .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggle.is-active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.is-active .bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  transition: max-height 0.5s ease-in-out;
}

.navbar-menu-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.navbar-links {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s ease;
}

.navbar-links:hover {
  color: #4CAF50;
}

.bmc-button-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bmc-button-nav img {
  margin-right: 10px;
  height: 30px;
}

.bmc-button-nav:hover {
  background-color: #444444;
  color: #ffdd00;
}

/* Mobile Menu Styles */
@media screen and (max-width: 768px) {
  .navbar-toggle {
    display: flex;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    position: absolute;
    top: 60px;
    left: 0;
    padding: 20px 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  .navbar-menu.is-active {
    display: flex;
    max-height: 500px;
  }

  .navbar-menu-list {
    flex-direction: column;
    width: 100%;
  }

  .navbar-item {
    width: 100%;
    text-align: center;
  }

  .navbar-links {
    padding: 14px 0;
    width: 100%;
  }
}
