/* Navbar Styles */
.navbar {
  background-color: rgba(51, 51, 51, 0.8);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  transition: background-color 0.3s;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #4CAF50;
}

.navbar a.active {
  color: #4CAF50;
}

.navbar .icon {
  display: none;
}

.bmc-button-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.bmc-button-nav img {
  margin-right: 10px;
  height: 30px;
}

.bmc-button-nav:hover {
  background-color: #444444;
  color: #ffdd00;
}

@media screen and (max-width: 768px) {
  .navbar .icon {
      display: block;
  }
  
  .navbar-center {
      display: none;
      flex-direction: column;
      width: 100%;
  }
  
  .navbar.active .navbar-center {
      display: flex;
  }
  
  .navbar a {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
  }
  
  .navbar-center a {
      padding: 10px 20px;
  }
}
