<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="{{ page.keywords | default: 'cybersecurity, programming, golang, blockchain, technology' }}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="{{ page.image | default: '/assets/images/logo.png' | prepend: site.url }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
    <meta name="twitter:image" content="{{ page.image | default: '/assets/images/logo.png' | prepend: site.url }}">

    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/monetization.css">
    <link rel="stylesheet" href="/assets/css/sections.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/newsletter.css">
    <link rel="stylesheet" href="/assets/css/projects.css">
    <link rel="stylesheet" href="/assets/css/shop.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
</head>

<body>
    {% include navbar.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %} {% include analytics.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script src="/assets/js/navbar.js"></script>
    <script src="/assets/js/githubrepos.js"></script>
    <script src="/assets/js/utm-generator.js"></script>
    <script src="/assets/js/content-teaser.js"></script>
</body>

</html>